spring:
  application:
    name: assignment

  datasource:
    url: jdbc:mysql://localhost:3306/assignment?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: root
    password: z1227530!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379
      password:
      timeout: 3000ms
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 2


  cache:
    type: redis
    redis:
      time-to-live: 3600000
      cache-null-values: true
      key-prefix: "myapp:"

jwt:
  secret: your-secret-key-minimum-256-bits-long-for-hs256-algorithm-security
  access-token-validity: 3600000
  refresh-token-validity: 604800000

cache:
  ttl:
    article-detail: 1800000
    article-list: 300000
    comment-list: 600000